<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>996015116845-9a83db6vm5gb3pd4rs7h25f9le9l3uv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996015116845-9a83db6vm5gb3pd4rs7h25f9le9l3uv6</string>
	<key>API_KEY</key>
	<string>AIzaSyCn7pSt4NHSW2JXmsKxsgACLeBgFLEolqY</string>
	<key>GCM_SENDER_ID</key>
	<string>996015116845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluxit.Face-Detection-Core-ML</string>
	<key>PROJECT_ID</key>
	<string>ml-face-detection-ios-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ml-face-detection-ios-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996015116845:ios:129ebf98d67ad69f</string>
	<key>DATABASE_URL</key>
	<string>https://ml-face-detection-ios-app.firebaseio.com</string>
</dict>
</plist>